---
import Header from '../components/Header.astro';
import BlogPost from '../components/BlogPost.astro';
import '../styles/global.css';
const allPosts = await Astro.glob('./posts/*.md');
---

<body>
  <Header />
  <h1>My Astro Learning Blog</h1>
  <p>This is where I will post about my journey learning Astro.</p>

  <ul>
    {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title}/>)}
  </ul>

  <script>
    import "../scripts/menu.js"
  </script>
</body>